<header class="hero">
    <div class="intro">
        <h1>Hi! I'm Jessica.</h1>
        <p>Let me tell you a little bit about myself.</p>
        <a href="#main" class="intro-button button" id="scroll">Dive In</a>
    </div>
</header>
<article id="main">
    <div>
            <h2>I'm a web developer.</h2>
        <div class="flex">
            <div class="content">
                <p class="featured">I love front-end development and primarily work in <span class="skill">HTML</span>, <span class="skill">CSS</span> (especially <span class="skill">Sass</span>), and <span class="skill">JavaScript</span>. I'm a fan of Content Management Systems and have worked with a variety, including <span class="skill">Kentico</span>, <span class="skill">Sitecore</span>, and <span class="skill">Wordpress</span>. I love learning about <span class="skill">accessibility</span> and building interfaces everyone can use.</p>
                <p>I've been writing code and collaborating on projects since my teens, and working professionally for over eight years. I've helped create things that didn't exist before (like <a href="#project-readynest">MGIC's ReadyNest</a>), participated in redesigning sites and tools (like <a href="#project-dane">Dane County's portal</a>), and been a respectful maintainer of many established codebases. I like that front-end development requires lifelong learning, and my current interests include <span class="skill">React</span>, <span class="skill">animation</span>, and <span class="skill">design systems</span>.</p>
                <ul class="flex">
                    <li>
                        <a href="https://www.linkedin.com/in/jessica-gleason-8b1b9747/" target="_blank" rel="noopener noreferrer" class="social">
                            <span class="visually-hidden">Jessica on LinkedIn</span>
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/jessicargleason" target="_blank" rel="noopener noreferrer" class="social">
                            <span class="visually-hidden">Jessica on Github</span>
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github-square" class="svg-inline--fa fa-github-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM277.3 415.7c-8.4 1.5-11.5-3.7-11.5-8 0-5.4.2-33 .2-55.3 0-15.6-5.2-25.5-11.3-30.7 37-4.1 76-9.2 76-73.1 0-18.2-6.5-27.3-17.1-39 1.7-4.3 7.4-22-1.7-45-13.9-4.3-45.7 17.9-45.7 17.9-13.2-3.7-27.5-5.6-41.6-5.6-14.1 0-28.4 1.9-41.6 5.6 0 0-31.8-22.2-45.7-17.9-9.1 22.9-3.5 40.6-1.7 45-10.6 11.7-15.6 20.8-15.6 39 0 63.6 37.3 69 74.3 73.1-4.8 4.3-9.1 11.7-10.6 22.3-9.5 4.3-33.8 11.7-48.3-13.9-9.1-15.8-25.5-17.1-25.5-17.1-16.2-.2-1.1 10.2-1.1 10.2 10.8 5 18.4 24.2 18.4 24.2 9.7 29.7 56.1 19.7 56.1 19.7 0 13.9.2 36.5.2 40.6 0 4.3-3 9.5-11.5 8-66-22.1-112.2-84.9-112.2-158.3 0-91.8 70.2-161.5 162-161.5S388 165.6 388 257.4c.1 73.4-44.7 136.3-110.7 158.3zm-98.1-61.1c-1.9.4-3.7-.4-3.9-1.7-.2-1.5 1.1-2.8 3-3.2 1.9-.2 3.7.6 3.9 1.9.3 1.3-1 2.6-3 3zm-9.5-.9c0 1.3-1.5 2.4-3.5 2.4-2.2.2-3.7-.9-3.7-2.4 0-1.3 1.5-2.4 3.5-2.4 1.9-.2 3.7.9 3.7 2.4zm-13.7-1.1c-.4 1.3-2.4 1.9-4.1 1.3-1.9-.4-3.2-1.9-2.8-3.2.4-1.3 2.4-1.9 4.1-1.5 2 .6 3.3 2.1 2.8 3.4zm-12.3-5.4c-.9 1.1-2.8.9-4.3-.6-1.5-1.3-1.9-3.2-.9-4.1.9-1.1 2.8-.9 4.3.6 1.3 1.3 1.8 3.3.9 4.1zm-9.1-9.1c-.9.6-2.6 0-3.7-1.5s-1.1-3.2 0-3.9c1.1-.9 2.8-.2 3.7 1.3 1.1 1.5 1.1 3.3 0 4.1zm-6.5-9.7c-.9.9-2.4.4-3.5-.6-1.1-1.3-1.3-2.8-.4-3.5.9-.9 2.4-.4 3.5.6 1.1 1.3 1.3 2.8.4 3.5zm-6.7-7.4c-.4.9-1.7 1.1-2.8.4-1.3-.6-1.9-1.7-1.5-2.6.4-.6 1.5-.9 2.8-.4 1.3.7 1.9 1.8 1.5 2.6z"></path></svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-graphic">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="laptop-code" class="svg-inline--fa fa-laptop-code fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z"></path></svg>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
            </div>
    </div>
    <h2>Blog</h2>
    <%- partial('_widget/recent_posts') %>
    <a href="/blog">See all blog posts</a>
    <h2>Selected Professional Projects</h2>
    <p>These are some of my favorite projects I've been a part of in my working life. (Note: Live sites are only included here if they are close to how they appeared when I worked on them, but they may contain small elements introduced after I no longer maintained them.)</p>
    <ul class="project-listing">
        <li id="project-fall-color">
            <div class="project-listing__image">
                <a href="https://www.travelwisconsin.com/fall-color-report" target="_blank" rel="noopener noreferrer">
                    <img src="<%- url_for('/img/portfolio-fall-color.jpg') %>" alt="Screencap of Fall Color Report with a colorful map of Wisconsin and sidebar of information for Oshkosh County" />
                </a>
            </div>
            <div>
                <h3><a href="https://www.travelwisconsin.com/fall-color-report" target="_blank">Travel Wisconsin Fall Color Report</a></h3> 
                <p>The Fall Color Report is a popular seasonal feature for the Wisconsin Department of Tourism. To keep the project on time and on budget, we needed to work with the existing back-end (integrated with a custom CMS built in .NET) but overhauled the interface. We replaced some reptitive, difficult-to-maintain CSS and jQuery templates with simpler, more modern patterns and naming conventions, and brought in the lightweight <a href="https://idangero.us/template7" target="_blank">Template7</a> templating engine. Most of this code would later be shared with the winter <a href="https://www.travelwisconsin.com/snowreport/snowmobile" target="_blank">Snow Conditions Report</a> so we paid careful attention to reusability. I handled all of the styling and most of the interface-related JavaScript, in collaboration with a full-stack developer and back-end developer who handled the map functionality and got the data pulling into the Template7 templates.</p>
            </div>
        </li>
        <li id="project-reveal">
            <div class="project-listing__image">
                <a href="https://www.subzero-wolf.com/trade-resources/reveal/" target="_blank" rel="noopener noreferrer">
                    <img src="<%- url_for('/img/portfolio-reveal.jpg') %>" alt="Screencap of Reveal Product configurator showing blocks representing refrigerators" />
                </a>
            </div>
            <div>
                <h3><a href="https://www.subzero-wolf.com/trade-resources/reveal/" target="_blank">Sub-Zero and Wolf "Reveal" Product Configurator</a></h3>
                <p>This was an amibitous but highly successful project with planning and multiple phases of development that spanned several years, resulting in a tool that would allow users to visually arrange SubZero and Wolf products in order to generate custom installation specifications (the addition of Cove products happened after my work on the tool). I lead front-end development for the majority of the tool's development, participating in brainstorming sessions with the marketing director at Sub-Zero and Wolf, creating prototypes in close collaboration with the design team, and handling styling of the final tool and most of the JavaScript that powers the front-end including drag-and-drop functionality using jQuery UI. I worked in close collaboration with back-end developers who handled the overall technical architecture, the integration with Sitecore and user accounts, some aspects of interaction using Knockout.js, and the generation of SVG diagrams and PDFs.</p>
            </div>
        </li>
        <li id="project-dane">
            <div class="project-listing__image">
                <a href="https://www.countyofdane.com/" target="_blank" rel="noopener noreferrer">
                    <img src="<%- url_for('/img/portfolio-dane.jpg') %>" alt="Screencap of Dane County website showing an open mega menu of navigation links" />
                </a>
            </div>
            <div>
                <h3><a href="https://www.countyofdane.com/" target="_blank" rel="noopener noreferrer">Dane County Portal</a></h3> 
                <p>Dane County was maintaining a network of different county-related websites all with their own interfaces. Our challenge was to develop a design system that could be applied to all of their sites and be easy enough for government employees maintaining the individual sites to work with, all on top of an existing custom content management system with limited functionality. I worked with developers from Dane County inside their development environment to apply the new design to the portal site, helped conceptualize a system of color schemes for use on the other department sites, and created an internal static site to serve as their pattern library.</p>
            </div>
        </li>
        <li id="project-readynest">
            <div class="project-listing__image">
                <a href="https://readynest.com/" target="_blank" rel="noopener noreferrer">
                    <img src="<%- url_for('/img/portfolio-readynest.jpg') %>" alt="Screencap of Readynest website showing a blog post" />
                </a>
            </div>
            <div>
                <h3><a href="https://readynest.com/" target="_blank" rel="noopener noreferrer">MGIC Readynest</a></h3>
                <p>We created this site from scratch using Sitecore's Experience Editor to give MGIC a place to share information about homeownership with first-time homeowners. The colorful site design was created by a designer at MGIC and implemented by me using an in-house CSS framework, with the help of back-end developers who were responsible for setting up Sitecore. We worked closely with MGIC (mostly at their offices) to develop the site alongside their software developers, and I trained their developers on web concepts like responsive design and technologies like Sass and supervised them when they contributed to the site's front-end.</p>
            </div>
        </li>
        <li id="project-rubber">
            <div class="project-listing__image">
                <a href="https://www.contactrubber.com/" target="_blank" rel="noopener noreferrer">
                    <img src="<%- url_for('/img/portfolio-rubber.jpg') %>" alt="Screencap of Contact Rubber website showing a detail page for a product" />
                </a>
            </div>
            <div>
                <h3><a href="https://www.contactrubber.com/" target="_blank">Contact Rubber</a></h3>
                <p>With some input and set up assistance from other team members, I was the sole developer on this Wordpress build for a manufacturing client to replace their static website. The site was hosted on Pantheon and used a boilerplate theme as a starting point, then I created custom styling based on Bootstrap and set up templates using Advanced Custom Fields.</p>
            </div>
        </li>
    </ul>
    <h2>Things I'm Doing For Fun</h2>
        <ul class="project-grid">
            <li class="flex">
                <div>
                    <img src="<%- url_for('/img/portfolio-weather.png') %>" alt="Weather Project Screencap" />
                </div>
                <div>
                    <h3><a href="https://www.jessicagleason.com/weather" target="_blank" rel="noopener noreferrer">Weather Project</a></h3> 
                    <p>A <span class="skill">React</span> project using Hooks and the OpenWeatherMap API, created with create-react-app.</p>
                </div>
            </li>
            <li class="flex">
                <div>
                    <img src="<%- url_for('/img/portfolio-birthday.png') %>" alt="BirthdayBot Screencap" />
                </div>
                <div>
                    <h3><a href="https://jessicagleason.com/birthday-bot" target="_blank" rel="noopener noreferrer">BirthdayBot</a></h3> 
                    <p>A web app built with <span class="skill">Node</span>, <span class="skill">Express</span>, and <span class="skill">Handlebars</span> that pulls information from the WikiData and Spotify APIs.</p>
                    
                </div>
            </li>
            <li class="flex">
                <div>
                    <img src="<%- url_for('/img/portfolio-atlantis.png') %>" alt="Atlantis Screencap" />
                </div>
                <div>
                    <h3><a href="https://jessicagleason.com/atlantis/" target="_blank" rel="noopener noreferrer">React Atlantis</a></h3> 
                    <p>A video game-esque <span class="skill">React</span> experiment with create-react-app (and an excuse to play around with some cute pixel art!)
                    </p>
                </div>
            </li>
            <li class="flex">
                <div>
                    <img src="<%- url_for('/img/portfolio-showdown.png') %>" alt="Sufjan Showdown Screencap" />
                </div>
                <div>
                    <h3><a href="https://jessicagleason.com/sufjanshowdown/" target="_blank" rel="noopener noreferrer">Sufjan Showdown</a></h3> 
                    <p>While perhaps yearning to be rewritten as a smooth single-page app, for now this tribute to singer-songwriter Sufjan Stevens runs on <span class="skill">PHP</span> with a <span class="skill">MySQL database</span>.
                    </p>
                </div>
            </li>
        </ul>
        </section>
        
        
        
            <h2>Sometimes I'm Offline, Too.</h2>
            <div class="flex">
                <div class="content">
                    <p>I like baking cookies. I have a community garden plot and I'm trying to learn to grow things. I knit from time to time. Every November I write a novel for <a href="https://www.nanowrimo.org" target="_blank" rel="noopener noreferrer">National Novel Writing Month</a>. I have pet hermit crabs. My preferred form of exercise is hula hooping, and I know some pretty cool hoop tricks. I live in Milwaukee, Wisconsin.</p>
                </div>
    </div>
    </div>
</article>
